@page "/Report"
<SectionContent SectionName="page-title"> <MudChip T="string" Icon="@Icons.Material.Filled.DocumentScanner" Size="Size.Large" Color="Color.Dark" IconColor="Color.Success">Reports</MudChip>  </SectionContent>
<h3>Reports</h3>

@code {

}
