@page "/UserControl"
<h3>UserControl</h3>
<SectionContent SectionName="page-title"> <MudChip T="string" Icon="@Icons.Material.Filled.AdminPanelSettings" Size="Size.Large" Color="Color.Dark" IconColor="Color.Success" >User Control</MudChip>  </SectionContent>
@code {

}
