<SectionContent SectionName="page-title"> <MudChip T="string" Icon="@Icons.Material.Filled.Warehouse" Size="Size.Medium" Color="Color.Dark" IconColor="Color.Success">Stocks</MudChip> </SectionContent>
@page "/Stock"

<h3>Stock</h3>
@code {

}
