@page "/Category"
<SectionContent SectionName="page-title"><MudChip T="string" Icon="@Icons.Material.Filled.Category" Size="Size.Large" Color="Color.Dark" IconColor="Color.Success">Categories</MudChip>   </SectionContent>

<h3>Category</h3>

@code {

}
