@inherits LayoutComponentBase


@* <div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <Bikestore.Client.Components.AuthLinks>

            </Bikestore.Client.Components.AuthLinks>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
 *@

<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar>
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        MA Bike Stores
        <MudSpacer />
        <MudIconButton Icon="@Icons.Custom.Uncategorized.Bacteria" Color="Color.Inherit" />
    </MudAppBar>
    <MudDrawer Anchor="Anchor.Left" @bind-Open="@_drawerOpen">
        <NavMenu/>
    </MudDrawer>
    <MudMainContent>
        @Body
    </MudMainContent>
</MudLayout>


@code {
    bool _drawerOpen = true;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }
}
