@page "/Staff"
<SectionContent SectionName="page-title">
    <MudChip T="string" Icon="@Icons.Material.Filled.People" Size="Size.Large" Color="Color.Dark" IconColor="Color.Success">Employees</MudChip>
</SectionContent>
<h3>Employee</h3>

@code {

}
