@page "/Order/CreateOrder"
<h3>Create your Order</h3>
<hr/>


<MudGrid Spacing="5">
    <MudItem xs="7" >
        <MudCard>
            <MudCardHeader>
                <MudText>Customer Details</MudText>


            </MudCardHeader>
            <MudDivider />
            <MudCardContent>

            </MudCardContent>
            <MudCardActions>
                <MudButton Variant="Variant.Text" Color="Color.Primary">Learn More</MudButton>
            </MudCardActions>
        </MudCard>

        <MudCard>
            <MudCardHeader>
                <MudText>Product Details</MudText>


            </MudCardHeader>
            <MudDivider />
            <MudCardContent>

            </MudCardContent>
            <MudCardActions>
                <MudButton Variant="Variant.Text" Color="Color.Primary">Learn More</MudButton>
            </MudCardActions>
        </MudCard>

    </MudItem>

    <MudItem xs="5">
        <MudCard>
            <MudCardHeader>

            </MudCardHeader>
            <MudDivider />
            <MudCardContent>
                <MudPaper Class="d-flex align-center justify-center mud-width-full py-8">xs=6</MudPaper>
            </MudCardContent>
            <MudCardActions>
                <MudButton Variant="Variant.Text" Color="Color.Primary">Learn More</MudButton>
            </MudCardActions>
        </MudCard>

    </MudItem>

</MudGrid>








@code {

}