@page "/Order"
@inject NavigationManager _nav
<SectionContent SectionName="page-title"> <MudChip T="string" Icon="@Icons.Material.Filled.ShoppingCart" Size="Size.Large" Color="Color.Dark" IconColor="Color.Success">Orders</MudChip>  </SectionContent>
<h3>Order</h3>

<MudButton Color="Color.Primary" IconClass="@Icons.Material.Rounded.Add" Variant="Variant.Filled" OnClick="@(() => _nav.NavigateTo("/Order/CreateOrder"))">
    Create Order
</MudButton>

@code {

}
